html, body{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.footer {
  bottom: 0;
  position: relative;
  display: inline;
}
