html, body{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.right-most-btn {
  display: block;
  right: 7%;
  position: absolute;
  z-index: 2;
}
.card-btn {
  display: block;
  right: 2%;
  top: 2%;
  position: absolute;
  z-index: 1;
}
.footer {
  bottom: 0;
  position: relative;
  display: inline;
}
